<div class="tops_white_section tops_half_section half_section_right">
    <div class="container tops_container">
      <div class="d-flex flex-row flex-wrap align-items-start">
        <div class="d-flex flex-column flex-wrap justify-content-center tops_half_section_column_big">
          <h2 class="mb-2">How Do You Take The Spanish Version of the Curriculum?</h2>
          <div class="tops_divider div_smaller mb-3"><div class="div_inner"></div></div>
          <p>Our external grantees are working hard to make sure that Open Science 101 in Spanish is looking great on its initial release. You should expect a release of this content on our GitHub followed by any relevant news about how you can receive a digital badge through the Spanish version of the curriculum. We encourage you to return to this page for news and updates as they become available!</p>
        </div>
        <div class="tops_half_section_column_small">
          <div class="tops_half_section_shinysquare"></div>
          <div class="tops_half_section_imageoutter"><img src="{{ site.baseurl }}/assets/img/home_os101.jpg" class="tops_half_section_image"></div>
        </div>
      </div>
    </div>
  </div>