<div class="tops_white_section tops_half_section half_section_left">
    <div class="container tops_container">
      <div class="d-flex flex-row flex-wrap align-items-start">
        <div class="tops_half_section_column_small">
          <div class="tops_half_section_shinysquare"></div>
          <div class="tops_half_section_imageoutter"><img src="{{ site.baseurl }}/assets/img/home_os101.jpg" class="tops_half_section_image"></div>
        </div>
        <div class="d-flex flex-column flex-wrap justify-content-center tops_half_section_column_big">
          <h2 class="mb-2">Learn About Open Science in Your Native Language</h2>
          <div class="tops_divider div_smaller mb-3"><div class="div_inner"></div></div>
          <p>Together with a group of external grantees, TOPS will soon be releasing a Spanish version of Open Science 101 for researchers in Latin America and here in the United States, who are interested in Open Science and implementing it into their workflow.</p>
        </div>
      </div>
    </div>
  </div>