@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&family=Roboto:wght@500;700;900&display=swap');

/* Universal */

body,html { 
    overflow-x: hidden;
}

body {
    font-family: 'Nunito', sans-serif;  
}

p, span, button, a, div, section {
    font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Roboto', sans-serif;
}

.top_bar {
    display: block;
    width: 100%;
    background-color: #0D425F;
    padding-top: 8px;
    padding-bottom: 8px;
    box-sizing: border-box;
}

.tops_nav, .tops_content, .tops_footer, .tops_footer_cta {
    display: block;
    width: 100%;
}

.container {
    max-width: 1600px !important;
}

.tops_container .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.tops_container .row div[class^="col"] {
    padding: 0;
}

.tops_overlay_section .the_overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tops_overlay_section.blue_overlay {
    position: relative;
    background-image: url(../img/bluebgtexture.png);
    background-color: #0D425F;
}

.tops_overlay_section.blue_overlay .the_overlay {
    background-color: #0D425F;
    opacity: 0.65;
    z-index: 1;
}

.tops_overlay_section .container {
  position: relative;
  z-index: 2;
}

.text-white-85 {
  color: rgba(255, 255, 255, 0.85);
}

/* End Universal */

.top_bar .social_icons {
    text-align: right;
}

.top_bar .social_icons .sicon_container {
  width: 100%;
  height: auto;
}

.top_bar .social_icons .sicon_container a {
    display: block;
    position: relative;
    box-sizing: border-box;
    padding:0;
    background-color: #FFF;
    border-radius: 50%;
    margin-right: 6px;
    text-decoration: none;
}

.top_bar .social_icons .sicon_container a:hover, .top_bar .social_icons .sicon_container a:active, .top_bar .social_icons .sicon_container a:focus {
  opacity: 0.7;
}

.top_bar .social_icons .sicon_container a:last-of-type {
    margin-right: 0 !important;
}

.top_bar .social_icons .sicon_container a i {
    display: block;
    position: absolute;
    color: #0D425F;
    font-size: 14px;
    line-height: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.tops_nav .navbar {
  padding-top: 15px;
  padding-bottom: 15px;
}

.tops_nav .navbar .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.tops_nav .navbar .tops_logo {
    display: inline-block;
    width: auto;
    height: 65px;
}

.tops_nav .navbar .navbar-nav .nav-link {
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  color: #222;
  /* semibold */
  font-weight: 700;
}

.tops_nav .navbar .navbar-nav .nav-item.nav-special .nav-link {
  background-color: #D83E00;
  border-radius: 5px;
  padding-left: 24px;
  padding-right: 24px;
  color: #FFF;
}

.tops_nav .navbar .navbar-nav .nav-item.nav-special .nav-link:hover, .tops_nav .navbar .navbar-nav .nav-item.nav-special .nav-link:active, .tops_nav .navbar .navbar-nav .nav-item.nav-special .nav-link:focus {
  opacity: 0.7;
}

.nav-item:not(.nav-special) .nav-link:hover, .nav-item:not(.nav-special) .nav-link:active, .nav-item:not(.nav-special) .nav-link:focus, .tops_nav .navbar .navbar-nav .nav-link.active {
    color: #D83E00;
}

.navbar-brand:hover, .navbar-brand:active, .navbar-brand:focus {
    opacity: 0.7;
}

.tops_nav .navbar .navbar-toggler {
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 20px;
    line-height: 24px;
    padding: 7px;
    padding-left: 14px;
    padding-right: 14px;
    color: #222;
}

.tops_nav .navbar .navbar-toggler:active, .tops_nav .navbar .navbar-toggler:focus {
    background: #0D425F;
    color: #FFF;
}

.tops_hero {
    display: block;
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.tops_hero.home_hero {
    min-height: 70vh;
    padding-top: 85px;
    padding-bottom: 85px;
}

.tops_hero.sub_hero {
    min-height: 300px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.tops_footer_cta {
    box-sizing: border-box;
    padding-top: 75px;
    padding-bottom: 75px;
    background-repeat: repeat;
    background-size: 60px auto;
}

.tops_footer_cta h2 {
    font-size: 32px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 700;
}

@media (max-width: 767.9px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .navbar-collapse {
        position: absolute;
        background: #EFF2F1;
        left: -30px;
        top: calc(100% - 1px);
        width: calc(100% + 60px);
        z-index: 1000;
    }

    .tops_nav .navbar .navbar-nav .nav-link {
        padding: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
    }

    .tops_nav .navbar .navbar-nav .nav-item {
        margin: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .tops_nav .navbar .navbar-nav .nav-item:last-of-type {
        border: none !important;
    }

    .tops_nav .navbar .navbar-nav .nav-item.nav-special {
        padding: 15px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .top_bar .social_icons .sicon_container a {
        width: 27px;
        height: 27px;
    }
}

@media (min-width: 768px) {
    .tops_nav .navbar .navbar-nav .nav-link {
        padding: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 14px;
        line-height: 18px;
    }

    .tops_nav .navbar .navbar-nav .nav-item {
        margin-right: 5px;
    }

    .top_bar .social_icons .sicon_container a {
        width: 25px;
        height: 25px;
    }
}

@media (min-width: 768px) and (max-width: 991.9px) {
    .container {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width: 992px) {
    .container {
        padding-left: 70px;
        padding-right: 70px;
    }
}