@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&family=Roboto:wght@500;700;900&display=swap');

/* Universal */

body,html { 
    overflow-x: hidden;
}

body {
    font-family: 'Nunito', sans-serif;  
}

p, span, button, a, div, section {
    font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Roboto', sans-serif;
}

.top_bar {
    display: block;
    width: 100%;
    background-color: #0D425F;
    padding-top: 8px;
    padding-bottom: 8px;
    box-sizing: border-box;
}

.tops_nav, .tops_content, .tops_footer, .tops_footer_cta, .tops_footer_copyright {
    display: block;
    width: 100%;
}

.container {
    max-width: 1600px !important;
}

.tops_container .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.tops_container .row div[class^="col"] {
    padding: 0;
}

.tops_overlay_section .the_overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tops_overlay_section.blue_overlay {
    position: relative;
    background-image: url(../img/bluebgtexture.png);
    background-color: #0D425F;
}

.tops_overlay_section.blue_overlay .the_overlay {
    background-color: #0D425F;
    opacity: 0.65;
    z-index: 1;
}

.tops_overlay_section .container {
  position: relative;
  z-index: 2;
}

.text-white-85 {
  color: rgba(255, 255, 255, 0.85);
}

.btn.btn-primary {
	background-color: #D83E00;
	border-color: #D83E00;
	color: #FFF;
	font-size: 14px;
	line-height: 18px;
	padding: 12px;
	padding-left: 25px;
	padding-right: 25px;
	text-transform: uppercase;
	font-weight: 700;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out, opacity .3s ease-in-out;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
	opacity: 0.7;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
	background-color: #D83E00;
    border-color: #D83E00;
    box-shadow: 0 0 0 0.25rem rgba(216,62,0,.5);
}

.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.25rem rgba(216,62,0,.5);
}

.tops_divider {
	display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: auto;
    text-align: left;
}

.tops_divider .div_inner {
	display: inline-block;
	height: 3px;
	background-color: #1E8806;
	width: 90px;
}

.tops_divider.div_smallest .div_inner {
	width: 35px;
}

/* End Universal */

.top_bar .social_icons {
    text-align: right;
}

.top_bar .social_icons .sicon_container {
  width: 100%;
  height: auto;
}

.top_bar .social_icons .sicon_container a {
    display: block;
    position: relative;
    box-sizing: border-box;
    padding:0;
    background-color: #FFF;
    border-radius: 50%;
    margin-right: 6px;
    text-decoration: none;
}

.top_bar .social_icons .sicon_container a:hover, .top_bar .social_icons .sicon_container a:active, .top_bar .social_icons .sicon_container a:focus {
  opacity: 0.7;
}

.top_bar .social_icons .sicon_container a:last-of-type {
    margin-right: 0 !important;
}

.top_bar .social_icons .sicon_container a i {
    display: block;
    position: absolute;
    color: #0D425F;
    font-size: 14px;
    line-height: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.tops_nav .navbar .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.tops_nav .navbar .tops_logo {
    display: inline-block;
    width: auto;
    height: 65px;
}

.tops_footer .tops_footer_logo {
	display: inline-block;
}

.tops_footer .tops_footer_logo img {
	display: inline-block;
    width: auto;
    height: 145px;
}

.tops_nav .navbar .navbar-nav .nav-link {
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  color: #222;
  /* semibold */
  font-weight: 700;
}

.tops_nav .navbar .navbar-nav .nav-item.nav-special .nav-link {
  background-color: #D83E00;
  border-radius: 5px;
  padding-left: 24px;
  padding-right: 24px;
  color: #FFF;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out, opacity .3s ease-in-out;
}

.nav-item.nav-special .nav-link:focus {
	box-shadow: 0 0 0 0.25rem rgba(216,62,0,.5);
}

.tops_nav .navbar .navbar-nav .nav-item.nav-special .nav-link:hover, .tops_nav .navbar .navbar-nav .nav-item.nav-special .nav-link:active, .tops_nav .navbar .navbar-nav .nav-item.nav-special .nav-link:focus {
  opacity: 0.7;
}

.nav-item:not(.nav-special) .nav-link:hover, .nav-item:not(.nav-special) .nav-link:active, .nav-item:not(.nav-special) .nav-link:focus, .tops_nav .navbar .navbar-nav .nav-link.active {
    color: #D83E00;
}

.navbar-brand:hover, .navbar-brand:active, .navbar-brand:focus {
    opacity: 0.7;
}

.tops_nav .navbar .navbar-toggler {
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 20px;
    line-height: 24px;
    padding: 7px;
    padding-left: 14px;
    padding-right: 14px;
    color: #222;
}

.tops_nav .navbar .navbar-toggler:active, .tops_nav .navbar .navbar-toggler:focus {
    background: #0D425F;
    color: #FFF;
}

.tops_hero {
    display: block;
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.tops_hero.home_hero {
    min-height: 70vh;
    padding-top: 85px;
    padding-bottom: 85px;
}

.tops_hero.sub_hero {
    min-height: 300px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.tops_footer_cta {
    box-sizing: border-box;
    padding-top: 70px;
    padding-bottom: 70px;
    background-repeat: repeat;
    background-size: 60px auto;
}

.tops_footer_cta h2 {
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}

.tops_footer_cta p {
    display: block;
    width: 100%;
	font-size: 16px;
	line-height: 1.6rem;
	font-weight: 300;
}

.tops_footer_columns {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

.footer_column_big, .footer_column_small {
	display: block;
	box-sizing: border-box;
}

.tops_footer {
	background-color: #222222;
	padding-top: 85px;
	padding-bottom: 85px;
}

.tops_footer_copyright {
	background-color: #222222;
	padding-top: 35px;
	padding-bottom: 35px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.tops_footer_copyright p {
    display: block;
    width: 100%;
    height: auto;
    font-size: 15px;
    line-height: 19px;
    font-weight: 600;
}

.tops_footer h3 {
    display: block;
    width: 100%;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 10px;
}

.tops_footer .tops_footer_bio {
    display: block;
    width: 100%;
	font-size: 16px;
    line-height: 1.6rem;
    font-weight: 300;
}

.tops_footer .footer_submenu {
	display: flex;
	flex-flow: column wrap;
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
}

.tops_footer .footer_submenu li {
	display: block;
	width: 100%;
	margin-bottom: 12px;
}

.tops_footer .footer_submenu li a {
	display: block;
	width: 100%;
	color: rgba(255, 255, 255, 0.85);
	font-size: 15px;
	line-height: 17px;
	font-weight: 300;
	text-decoration: none;
	text-transform: capitalize;
}

.tops_footer .footer_submenu li a {
	display: block;
	width: 100%;
	color: rgba(255, 255, 255, 0.85);
	font-size: 15.5px;
	line-height: 17px;
	font-weight: 300;
	text-decoration: none;
	text-transform: capitalize;
}

.tops_footer .footer_submenu li a:hover, .tops_footer .footer_submenu li a:active, .tops_footer .footer_submenu li a:focus {
	color: #D83E00;
}

.social_icons_footer {
    width: 100%;
    height: auto;
}

.social_icons_footer a {
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    background-color: #D83E00;
    border-radius: 50%;
    margin-right: 8px;
    text-decoration: none;
    width: 40px;
    height: 40px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out, opacity .3s ease-in-out;
}

.social_icons_footer a:last-of-type {
    margin-right: 0;
}

.social_icons_footer a:hover, .social_icons_footer a:active, .social_icons_footer a:focus {
    opacity: 0.7;
}

.social_icons_footer a:focus {
    box-shadow: 0 0 0 0.25rem rgba(216,62,0,.5);
}

.social_icons_footer a i {
    display: block;
    position: absolute;
    color: #FFF;
    font-size: 20px;
    line-height: 22px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 767.9px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .navbar-collapse {
        position: absolute;
        background: #EFF2F1;
        left: -30px;
        top: calc(100% - 1px);
        width: calc(100% + 60px);
        z-index: 1000;
    }

    .tops_nav .navbar .navbar-nav .nav-link {
        padding: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
    }

    .tops_nav .navbar .navbar-nav .nav-item {
        margin: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .tops_nav .navbar .navbar-nav .nav-item:last-of-type {
        border: none !important;
    }

    .tops_nav .navbar .navbar-nav .nav-item.nav-special {
        padding: 15px;
        padding-left: 30px;
        padding-right: 30px;
    }
	
	.tops_nav .navbar {
	  padding-top: 25px;
	  padding-bottom: 25px;
	}

    .top_bar .social_icons .sicon_container a {
        width: 27px;
        height: 27px;
    }
	
	.tops_footer_cta h2 {
		font-size: 24px;
		line-height: 28px;
	}
	
	.footer_column_big {
		width: 100%;
        padding-bottom: 45px;
	}

	.footer_column_small {
		width: 100%;
        padding-bottom: 45px;
	}

    .footer_column_small:last-of-type {
        padding-bottom: 0;
    }
}

@media (min-width: 768px) {
    .tops_nav .navbar .navbar-nav .nav-link {
        padding: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 14px;
        line-height: 18px;
    }

    .tops_nav .navbar .navbar-nav .nav-item {
        margin-right: 5px;
    }

    .top_bar .social_icons .sicon_container a {
        width: 25px;
        height: 25px;
    }
}

@media (min-width: 768px) and (max-width: 991.9px) {
    .container {
        padding-left: 50px;
        padding-right: 50px;
    }
	
	.tops_footer_cta h2 {
		font-size: 28px;
		line-height: 32px;
	}
	
	.footer_column_big {
		width: 100%;
        padding-bottom: 45px;
	}

	.footer_column_small {
		width: 33.3%;
        padding-right: 20px;
	}
	
	.tops_nav .navbar {
	  padding-top: 20px;
	  padding-bottom: 20px;
	}
}

@media (min-width: 992px) {
    .container {
        padding-left: 70px;
        padding-right: 70px;
    }
	
	.tops_footer_cta h2 {
		font-size: 32px;
		line-height: 36px;
	}
	
	.footer_column_big {
		width: 40%;
		padding-right: 40px;
	}

	.footer_column_small {
		width: 20%;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.tops_nav .navbar {
	  padding-top: 17px;
	  padding-bottom: 17px;
	}
}