@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&family=Roboto:wght@500;700;900&display=swap');

/* Universal */

body,html { 
    overflow-x: hidden;
}

body {
    font-family: 'Nunito', sans-serif;  
}

p, span, button, a, div, section {
    font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Roboto', sans-serif;
}

.top_bar {
    display: block;
    width: 100%;
    background-color: #0D425F;
    padding-top: 8px;
    padding-bottom: 8px;
    box-sizing: border-box;
}

.tops_nav, .tops_content, .tops_footer, .tops_footer_cta, .tops_footer_copyright {
    display: block;
    width: 100%;
}

.container {
    max-width: 1600px !important;
}

.tops_container .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.tops_container .row div[class^="col"] {
    padding: 0;
}

.tops_overlay_section {
	position: relative;
}

.tops_overlay_section .the_overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tops_overlay_section.blue_overlay {
    background-image: url(../img/bluebgtexture.png);
    background-color: #0D425F;
}

.tops_overlay_section.blue_overlay .the_overlay {
    background-color: #0D425F;
    opacity: 0.65;
    z-index: 1;
}

.tops_overlay_section.black_overlay {
    background-color: #000;
}

.tops_overlay_section.black_overlay .the_overlay {
    background-color: #000;
    opacity: 0.7;
    z-index: 1;
}

.tops_overlay_section .container {
  position: relative;
  z-index: 2;
}

.text-white-85 {
  color: rgba(255, 255, 255, 0.85);
}

.btn.btn-primary {
	background-color: #D83E00;
	border-color: #D83E00;
	color: #FFF;
	font-size: 14px;
	line-height: 18px;
	padding: 10px;
	padding-left: 22px;
	padding-right: 22px;
	text-transform: uppercase;
	font-weight: 700;
	border-width: 2px;
	border-radius: 5px;
	transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out,box-shadow .15s ease-in-out, opacity .3s ease-in-out;
}

.btn.btn-outline-primary {
	background-color: transparent;
	border-color: #D83E00;
	color: #D83E00;
	font-size: 14px;
	line-height: 18px;
	padding: 10px;
	padding-left: 22px;
	padding-right: 22px;
	text-transform: uppercase;
	font-weight: 700;
	border-width: 2px;
	border-radius: 5px;
	transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out,box-shadow .15s ease-in-out, opacity .3s ease-in-out;
}

.btn.btn-outline-light {
	background-color: transparent;
	border-color: #FFFFFF;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 18px;
	padding: 10px;
	padding-left: 22px;
	padding-right: 22px;
	text-transform: uppercase;
	font-weight: 700;
	border-width: 2px;
	border-radius: 5px;
	transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out,box-shadow .15s ease-in-out, opacity .3s ease-in-out;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
	opacity: 0.7;
}

.btn.btn-outline-primary:hover, .btn.btn-outline-primary:active, .btn.btn-outline-primary:focus {
	background-color: #0D425F;
	border-color: #0D425F;
	color: #FFF;
}

.btn.btn-outline-light:hover, .btn.btn-outline-light:active, .btn.btn-outline-light:focus {
	background-color: #FFFFFF;
	border-color: #FFFFFF;
	color: #0D425F;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
	background-color: #D83E00;
    border-color: #D83E00;
    box-shadow: 0 0 0 0.2rem rgba(216,62,0,.5);
}

.btn-check:focus+.btn-outline-primary, .btn-outline-primary:focus {
	background-color: #0D425F;
    border-color: #0D425F;
    box-shadow: 0 0 0 0.2rem rgba(13,66,95,.5);
}

.btn-check:focus+.btn-outline-light, .btn-outline-light:focus {
	background-color: #FFF;
    border-color: #FFF;
    box-shadow: 0 0 0 0.2rem rgba(255,255,255,.5);
}

.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(216,62,0,.5);
}

.btn-check:active+.btn-outline-primary:focus, .btn-check:checked+.btn-outline-primary:focus, .btn-outline-primary.active:focus, .btn-outline-primary:active:focus, .show>.btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(13,66,95,.5);
}

.btn-check:active+.btn-outline-light:focus, .btn-check:checked+.btn-outline-light:focus, .btn-outline-light.active:focus, .btn-outline-light:active:focus, .show>.btn-outline-light.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(255,255,255,.5);
}

.tops_divider {
	display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: auto;
}

.tops_divider .div_inner {
	display: inline-block;
	height: 3px;
	background-color: #1E8806;
	width: 90px;
}

.tops_divider.div_smallest .div_inner {
	width: 35px;
}

.tops_divider.div_smaller .div_inner {
	width: 50px;
}

.tops_divider.div_larger .div_inner {
	width: 70px;
}

.tops_divider.div_largest .div_inner {
	width: 90px;
}

.tops_doublebuttons {
	margin-top: 25px;
}

.tops_doublebuttons .btn {
	margin-right: 10px;
}

.tops_doublebuttons .btn:last-of-type {
	margin-right: 0;
}

/* End Universal */

.top_bar .social_icons {
    text-align: right;
}

.top_bar .social_icons .sicon_container {
  width: 100%;
  height: auto;
}

.top_bar .social_icons .sicon_container a {
    display: block;
    position: relative;
    box-sizing: border-box;
    padding:0;
    background-color: #FFF;
    border-radius: 50%;
    margin-right: 6px;
    text-decoration: none;
}

.top_bar .social_icons .sicon_container a:hover, .top_bar .social_icons .sicon_container a:active, .top_bar .social_icons .sicon_container a:focus {
  opacity: 0.7;
}

.top_bar .social_icons .sicon_container a:last-of-type {
    margin-right: 0 !important;
}

.top_bar .social_icons .sicon_container a i {
    display: block;
    position: absolute;
    color: #0D425F;
    font-size: 14px;
    line-height: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.tops_nav .navbar .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.tops_nav .navbar .tops_logo {
    display: inline-block;
    width: auto;
    height: 65px;
}

.tops_footer .tops_footer_logo {
	display: inline-block;
}

.tops_footer .tops_footer_logo img {
	display: inline-block;
    width: auto;
    height: 145px;
}

.tops_nav .navbar .navbar-nav .nav-link {
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  color: #222;
  /* semibold */
  font-weight: 700;
}

.tops_nav .navbar .navbar-nav .nav-item.nav-special .nav-link {
  background-color: #D83E00;
  border-radius: 5px;
  padding-left: 24px;
  padding-right: 24px;
  color: #FFF;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out, opacity .3s ease-in-out;
}

.nav-item.nav-special .nav-link:focus {
	box-shadow: 0 0 0 0.2rem rgba(216,62,0,.5);
}

.tops_nav .navbar .navbar-nav .nav-item.nav-special .nav-link:hover, .tops_nav .navbar .navbar-nav .nav-item.nav-special .nav-link:active, .tops_nav .navbar .navbar-nav .nav-item.nav-special .nav-link:focus {
  opacity: 0.7;
}

.nav-item:not(.nav-special) .nav-link:hover, .nav-item:not(.nav-special) .nav-link:active, .nav-item:not(.nav-special) .nav-link:focus, .tops_nav .navbar .navbar-nav .nav-link.active {
    color: #D83E00;
}

.navbar-brand:hover, .navbar-brand:active, .navbar-brand:focus {
    opacity: 0.7;
}

.tops_nav .navbar .navbar-toggler {
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 20px;
    line-height: 24px;
    padding: 7px;
    padding-left: 14px;
    padding-right: 14px;
    color: #222;
}

.tops_nav .navbar .navbar-toggler:active, .tops_nav .navbar .navbar-toggler:focus {
    background: #0D425F;
    color: #FFF;
}

.tops_hero {
    background-size: cover;
    background-repeat: no-repeat;
	background-position: center center;
    width: 100%;
}

.tops_hero h1 {
	display: block;
	text-transform: uppercase;
	font-weight: 900;
}

.tops_hero p {
	display: block;
	width: 100%;
	font-weight: 300;
}

.tops_hero.home_hero {
    padding-top: 85px;
    padding-bottom: 85px;
	background-image: url('../img/home_hero.jpg');
}

.tops_hero.sub_hero {
    min-height: 300px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.tops_hero_badge {
	display: inline-block;
	width: 97%;
	max-width: 365px;
}

.tops_four_cta {
	display: block;
	width: 100%;
	background-color: #D83E00;
	padding: 0;
	margin: 0;
}

.tops_image_box {
	display: block;
	width: 100%;
	height: 100%;
	padding: 20px;
	padding-top: 25px;
	padding-bottom: 25px;
	box-sizing: border-box;
	text-decoration: none;
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-ms-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
	transition: background 0.3s ease;
}

.tops_image_box:hover, .tops_image_box:active, .tops_image_box:focus {
	background: rgba(0, 0, 0, 0.2);
}

.tops_image_box .tops_image_box_imagecol {
	display: block;
	width: 85px;
	box-sizing: border-box;
}

.tops_image_box .tops_image_box_imageinner {
	display: block;
	position: relative;
	width: 85px;
	height: 85px;
	background-color: #FFF;
	border-radius: 50%;
}

.tops_image_box .tops_image_box_imageinner i {
	display: block;
	position: absolute;
	font-size: 38px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #D83E00;
}

.tops_image_box .tops_image_box_contentcol {
	display: block;
	width: calc(100% - 85px);
	padding-left: 15px;
	box-sizing: border-box;
}

.tops_white_section {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding-top: 85px;
	padding-bottom: 85px;
}

.tops_gray_section {
	background-color: #EFF2F1;
}

.tops_half_section h2 {
	display: block;
	width: 100%;
	font-size: 32px;
	line-height: 36px;
	font-weight: 900;
	box-sizing: border-box;
	text-transform: uppercase;
	color: #222;
}

.tops_half_section p {
	display: block;
	width: 100%;
	font-size: 16px;
	line-height: 1.6rem;
	font-weight: 400;
	color: #777;
	margin-bottom: 12px;
}

.tops_half_section p:last-of-type {
	margin-bottom: 0;
}

.tops_half_section .tops_half_section_column_small {
	display: block;
	position: relative;
	box-sizing: border-box;
}

.tops_half_section .tops_half_section_column_big {
	box-sizing: border-box;
}

.tops_half_section .tops_half_section_shinysquare {
	display: block;
	position: absolute;
	background: linear-gradient(132deg, #D83E00 0%, #0D425F 49.95%);
	z-index:2;
	border-radius: 5px;
}

.tops_half_section.half_section_left .tops_half_section_shinysquare {
	top:0;
	left: 0;
}

.tops_half_section.half_section_right .tops_half_section_shinysquare {
	top:0;
	right: 0;
}

.tops_half_section .tops_half_section_imageoutter {
	display: block;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	z-index: 3;
}

.tops_half_section .tops_half_section_image {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	object-fit: cover;
}

.tops_image_box h3 {
	display: block;
	width: 100%;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-transform: uppercase;
}

.tops_image_box p {
	font-size: 14px;
	line-height: 1.5rem;
	font-weight: 300;
}

.tops_posts_section h2 {
	display: block;
	width: 100%;
	font-size: 42px;
	line-height: 46px;
	font-weight: 900;
	text-transform: uppercase;
	color: #222;
}

.tops_posts_section p {
	display: block;
	width: 100%;
	font-size: 16px;
	line-height: 1.6rem;
	font-weight: 400;
	color: #777;
}

.tops_posts_section .tops_posts_primary_content p {
	margin-bottom: 12px;
}

.tops_posts_section .tops_posts_primary_content p:last-of-type {
	margin-bottom: 0;
}

.tops_posts_section .tops_posts_post {
	
}

.tops_posts_section .tops_posts_post .tops_posts_post_image {
	display: block;
	position: relative;
	width: 100%;
	height: 0;
	background-color: #000;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	overflow: hidden;
	text-decoration: none;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.tops_posts_section .tops_posts_post .tops_posts_post_image img {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	transform-origin: center;
	-webkit-transition: transform 0.5s ease;
	-moz-transition: transform 0.5s ease;
	-ms-transition: transform 0.5s ease;
	-o-transition: transform 0.5s ease;
	transition: transform 0.5s ease;
}

.tops_posts_section .tops_posts_post .tops_posts_post_image:hover, .tops_posts_section .tops_posts_post .tops_posts_post_image:active, .tops_posts_section .tops_posts_post .tops_posts_post_image:focus {
	opacity: 0.6;
}

.tops_posts_section .tops_posts_post .tops_posts_post_image:hover img, .tops_posts_section .tops_posts_post .tops_posts_post_image:active img, .tops_posts_section .tops_posts_post .tops_posts_post_image:focus img {
	transform: scale(1.2);
}

.tops_posts_section .tops_posts_post .tops_posts_post_content {
	display: block;
	width: 100%;
	background-color: #FFF;
	padding: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	box-sizing: border-box;
}

.tops_posts_section .tops_posts_post .tops_posts_post_content h3 {
	display: block;
	width: 100%;
	font-size: 15px;
	line-height: 19px;
	text-transform: uppercase;
	font-weight: 900;
	color: #222;
}

.tops_posts_section .tops_posts_post .tops_posts_post_content .tops_posts_post_readmore {
	display: block;
	width: 100%;
	text-align: left;
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	text-transform: capitalize;
	text-decoration: none;
	color: #D83E00;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.tops_posts_section .tops_posts_post .tops_posts_post_content .tops_posts_post_readmore i {
	display: inline-block;
	margin-left: 7px;
	font-size: 16px;
}

.tops_posts_section .tops_posts_post .tops_posts_post_content .tops_posts_post_readmore:hover, .tops_posts_section .tops_posts_post .tops_posts_post_content .tops_posts_post_readmore:active, .tops_posts_section .tops_posts_post .tops_posts_post_content .tops_posts_post_readmore:focus {
	opacity: 0.6;
}

.tops_posts_section .tops_posts_post .tops_posts_post_meta {
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-top: 1px solid #DDD;
	background-color: #FFF;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.tops_posts_section .tops_posts_post .tops_posts_post_meta .tops_posts_post_metaitem {
	display: flex;
	width: auto;
	height: auto;
	font-size: 12px;
	line-height: 16px;
	color: #777777;
	flex-flow: row wrap;
	align-items: center;
	margin-right: 10px;
}

.tops_posts_post_metadivider {
	display: inline-block;
	width: auto;
	height: auto;
	font-size: 4px;
	line-height: 16px;
	color: #777777;
	margin-right: 10px;
}

.tops_posts_section .tops_posts_post .tops_posts_post_meta .tops_posts_post_metaitem i {
	display: inline-block;
	font-size: 16px;
	margin-right: 5px;
}

.tops_blue_divider_section {
	display: block;
	position: relative;
    width: 100%;
    box-sizing: border-box;
    padding-top: 143px;
    padding-bottom: 143px;
}

.tops_blue_divider_section .tops_shape {
	overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
	z-index: 3;
}

.tops_blue_divider_section .tops_shape svg {
	display: block;
    width: calc(100% + 1.3px);
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
	height: 70px;
	z-index: -1;
}

.tops_blue_divider_section .tops_shape path {
	fill: #FFF;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.tops_blue_divider_section .tops_shape.tops_shape_gray path {
	fill: #EFF2F1;
}

.tops_blue_divider_section .tops_shape.tops_shape_top {
	top: -1px;
}

.tops_blue_divider_section .tops_shape.tops_shape_bottom {
	bottom: -1px;
	webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.tops_blue_divider_section h2 {
	display: block;
	width: 100%;
	font-size: 42px;
	line-height: 46px;
	font-weight: 900;
	text-transform: uppercase;
}

.tops_blue_divider_section p {
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 1.6rem;
    font-weight: 400;
}

.tops_blue_divider_section .tops_blue_divider_primary_content p {
    margin-bottom: 12px;
}

.tops_blue_divider_section .tops_blue_divider_primary_content p:last-of-type {
    margin-bottom: 0;
}

.tops_footer_cta {
    box-sizing: border-box;
    padding-top: 70px;
    padding-bottom: 70px;
    background-repeat: repeat;
    background-size: 60px auto;
}

.tops_footer_cta h2 {
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}

.tops_footer_cta p {
    display: block;
    width: 100%;
	font-size: 16px;
	line-height: 1.6rem;
	font-weight: 300;
}

.tops_footer_columns {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

.footer_column_big, .footer_column_small {
	display: block;
	box-sizing: border-box;
}

.tops_footer {
	background-color: #222222;
	padding-top: 85px;
	padding-bottom: 85px;
}

.tops_footer_copyright {
	background-color: #222222;
	padding-top: 35px;
	padding-bottom: 35px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.tops_footer_copyright p {
    display: block;
    width: 100%;
    height: auto;
    font-size: 15px;
    line-height: 19px;
    font-weight: 600;
}

.tops_footer h3 {
    display: block;
    width: 100%;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 10px;
}

.tops_footer .tops_footer_bio {
    display: block;
    width: 100%;
	font-size: 16px;
    line-height: 1.6rem;
    font-weight: 400;
}

.tops_footer .footer_submenu {
	display: flex;
	flex-flow: column wrap;
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
}

.tops_footer .footer_submenu li {
	display: block;
	width: 100%;
	margin-bottom: 12px;
}

.tops_footer .footer_submenu li a {
	display: block;
	width: 100%;
	color: rgba(255, 255, 255, 0.85);
	font-size: 15px;
	line-height: 19px;
	font-weight: 300;
	text-decoration: none;
	text-transform: capitalize;
}

.tops_footer .footer_submenu li a:hover, .tops_footer .footer_submenu li a:active, .tops_footer .footer_submenu li a:focus {
	color: #D83E00;
}

.social_icons_footer {
    width: 100%;
    height: auto;
}

.social_icons_footer a {
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    background-color: #D83E00;
    border-radius: 50%;
    margin-right: 8px;
    text-decoration: none;
    width: 40px;
    height: 40px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out, opacity .3s ease-in-out;
}

.social_icons_footer a:last-of-type {
    margin-right: 0;
}

.social_icons_footer a:hover, .social_icons_footer a:active, .social_icons_footer a:focus {
    opacity: 0.7;
}

.social_icons_footer a:focus {
    box-shadow: 0 0 0 0.2rem rgba(216,62,0,.5);
}

.social_icons_footer a i {
    display: block;
    position: absolute;
    color: #FFF;
    font-size: 20px;
    line-height: 22px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 767.9px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .navbar-collapse {
        position: absolute;
        background: #EFF2F1;
        left: -30px;
        top: calc(100% - 1px);
        width: calc(100% + 60px);
        z-index: 1000;
    }

    .tops_nav .navbar .navbar-nav .nav-link {
        padding: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
    }

    .tops_nav .navbar .navbar-nav .nav-item {
        margin: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .tops_nav .navbar .navbar-nav .nav-item:last-of-type {
        border: none !important;
    }

    .tops_nav .navbar .navbar-nav .nav-item.nav-special {
        padding: 15px;
        padding-left: 30px;
        padding-right: 30px;
    }
	
	.tops_nav .navbar {
	  padding-top: 25px;
	  padding-bottom: 25px;
	}

    .top_bar .social_icons .sicon_container a {
        width: 27px;
        height: 27px;
    }
	
	.tops_footer_cta h2 {
		font-size: 24px;
		line-height: 28px;
	}
	
	.footer_column_big {
		width: 100%;
        padding-bottom: 45px;
	}

	.footer_column_small {
		width: 100%;
        padding-bottom: 45px;
	}

    .footer_column_small:last-of-type {
        padding-bottom: 0;
    }
	
	.tops_hero.home_hero h1 {
		font-size: 48px;
		line-height: 52px;
	}
	
	.tops_hero.home_hero .row .col-md-7 {
		padding-bottom: 45px;
	}
	
	.tops_hero.home_hero {
		min-height: 520px;
	}

	.tops_four_cta .col-12 {
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	}
	
	.tops_four_cta .col-12:last-of-type {
		border-right: none;
	}
	
	.tops_hero_badge {
		margin-top: 0;
	}
	
	.tops_half_section .tops_half_section_column_small {
		width: 100%;
	}

	.tops_half_section .tops_half_section_column_big {
		width: 100%;
	}
	
	.tops_half_section .tops_half_section_imageoutter {
		height: 350px;
	}
	
	.tops_half_section .tops_half_section_shinysquare {
		height: calc(350px - 20px);
		width: calc(100% - 20px);
	}
	
	.tops_half_section.half_section_left .tops_half_section_column_big {
		padding-top: 45px;
	}

	.tops_half_section.half_section_right .tops_half_section_column_big {
		padding-bottom: 45px;
	}
	
	.tops_half_section.half_section_left .tops_half_section_imageoutter {
		padding-left: 20px;
		padding-top: 25px;
	}

	.tops_half_section.half_section_right .tops_half_section_imageoutter {
		padding-right: 20px;
		padding-top: 20px;
	}
	
	.tops_posts_section .tops_posts_post .tops_posts_post_image {
		padding-bottom: 60%;
	}
	
}

@media (min-width: 768px) {
    .tops_nav .navbar .navbar-nav .nav-link {
        padding: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 14px;
        line-height: 18px;
    }

    .tops_nav .navbar .navbar-nav .nav-item {
        margin-right: 5px;
    }

    .top_bar .social_icons .sicon_container a {
        width: 25px;
        height: 25px;
    }
	
	.tops_hero_badge {
		margin-top: -30px;
	}
}

@media (min-width: 768px) and (max-width: 991.9px) {
    .container {
        padding-left: 50px;
        padding-right: 50px;
    }
	
	.tops_footer_cta h2 {
		font-size: 28px;
		line-height: 32px;
	}
	
	.footer_column_big {
		width: 100%;
        padding-bottom: 45px;
	}

	.footer_column_small {
		width: 33.3%;
        padding-right: 20px;
	}
	
	.tops_nav .navbar {
	  padding-top: 20px;
	  padding-bottom: 20px;
	}
	
	.tops_hero.home_hero h1 {
		font-size: 55px;
		line-height: 59px;
	}
	
	.tops_hero.home_hero .row .col-md-7 {
		padding-right: 50px;
	}
	
	.tops_hero.home_hero {
		min-height: 65vh;
	}
	
	.tops_four_cta .col-12:nth-child(odd) {
		border-right: 1px solid rgba(255, 255, 255, 0.3);
	}
	
	.tops_four_cta .col-12 {
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	}
	
	.tops_half_section .tops_half_section_column_small {
		width: 50%;
	}

	.tops_half_section .tops_half_section_column_big {
		width: 50%;
		min-height: 400px;
	}
	
	.tops_half_section .tops_half_section_imageoutter {
		height: 400px;
	}
	
	.tops_half_section .tops_half_section_shinysquare {
		height: calc(400px - 25px);
		width: calc(100% - 25px);
	}
	
	.tops_half_section.half_section_left .tops_half_section_column_big {
		padding-left: 50px;
	}

	.tops_half_section.half_section_right .tops_half_section_column_big {
		padding-right: 50px;
	}
	
	.tops_half_section.half_section_left .tops_half_section_imageoutter {
		padding-left: 25px;
		padding-top: 25px;
	}

	.tops_half_section.half_section_right .tops_half_section_imageoutter {
		padding-right: 25px;
		padding-top: 25px;
	}
	
	.tops_posts_section .tops_posts_post .tops_posts_post_image {
		padding-bottom: 65%;
	}
	
}

@media(max-width: 991.9px) {
	.tops_hero p {
		font-size: 17px;
		line-height: 1.7rem;
	}
}

@media (min-width: 992px) {
    .container {
        padding-left: 70px;
        padding-right: 70px;
    }
	
	.tops_footer_cta h2 {
		font-size: 32px;
		line-height: 36px;
	}
	
	.footer_column_big {
		width: 40%;
		padding-right: 40px;
	}

	.footer_column_small {
		width: 20%;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.tops_nav .navbar {
	  padding-top: 17px;
	  padding-bottom: 17px;
	}
	
	.tops_hero.home_hero h1 {
		font-size: 62px;
		line-height: 66px;
	}
	
	.tops_hero.home_hero .row .col-md-7 {
		padding-right: 70px;
	}
	
	.tops_hero p {
		font-size: 19px;
		line-height: 1.8rem;
	}
	
	.tops_hero.home_hero {
		min-height: 70vh;
	}
	
	.tops_four_cta .col-12 {
		border-right: 1px solid rgba(255, 255, 255, 0.3);
	}
	
	.tops_four_cta .col-12:last-of-type {
		border-right: none;
	}
	
	.tops_half_section .tops_half_section_column_small {
		width: 35%;
	}

	.tops_half_section .tops_half_section_column_big {
		width: 65%;
		min-height: 450px;
	}
	
	.tops_half_section .tops_half_section_imageoutter {
		height: 450px;
	}
	
	.tops_half_section .tops_half_section_shinysquare {
		height: calc(450px - 30px);
		width: calc(100% - 30px);
	}
	
	.tops_half_section.half_section_left .tops_half_section_column_big {
		padding-left: 70px;
	}

	.tops_half_section.half_section_right .tops_half_section_column_big {
		padding-right: 70px;
	}
	
	.tops_half_section.half_section_left .tops_half_section_imageoutter {
		padding-left: 30px;
		padding-top: 30px;
	}

	.tops_half_section.half_section_right .tops_half_section_imageoutter {
		padding-right: 30px;
		padding-top: 30px;
	}
	
	.tops_posts_section .tops_posts_post .tops_posts_post_image {
		padding-bottom: 70%;
	}
}