<div class="tops_white_section tops_half_section half_section_right">
              <div class="container tops_container">
                <div class="d-flex flex-row flex-wrap align-items-start">
                  <div class="d-flex flex-column flex-wrap justify-content-center tops_half_section_column_big">
                    <h2 class="mb-2">OS101 Module 1: The Ethos of Open Science</h2>
                    <div class="tops_divider div_smaller mb-3"><div class="div_inner"></div></div>
                    <p>Welcome to this introductory module on open science. Open Science is the principle and practice of making research products and processes available to all, while respecting diverse cultures, maintaining security and privacy, and fostering collaborations, reproducibility, and equity. In this module, you take a closer look at what open science is, the current landscape as well as the benefits and challenges. You then get a glimpse into the practice of open science including a case study. To start your journey with open science, you are presented with actions that you can take starting today, such as exploring communities that you can engage with.</p>
                  </div>
                  <div class="tops_half_section_column_small">
                    <div class="tops_half_section_shinysquare"></div>
                    <div class="tops_half_section_imageoutter"><img src="{{ site.baseurl }}/assets/img/modules/module1.jpg" class="tops_half_section_image"></div>
                  </div>
                </div>
              </div>
            </div>