<div class="tops_white_section tops_half_section half_section_right">
              <div class="container tops_container">
                <div class="d-flex flex-row flex-wrap align-items-start">
                  <div class="d-flex flex-column flex-wrap justify-content-center tops_half_section_column_big">
                    <h2 class="mb-2">OS101 Module 3: Open Data</h2>
                    <div class="tops_divider div_smaller mb-3"><div class="div_inner"></div></div>
                    <p>This module focuses on the practice and application of open science for data. It provides a 'how to' process for finding and assessing open data for use, for making open data and for sharing open data. The step-by-step flows are easy to follow and can be used as checklists after you complete the module. Some of the key topics discussed include: data management plans, the process for assessing data for reuse, creating a plan for making data including choosing open formats and adding documentation, and the considerations for sharing data and making your data citable.</p>
                  </div>
                  <div class="tops_half_section_column_small">
                    <div class="tops_half_section_shinysquare"></div>
                    <div class="tops_half_section_imageoutter"><img src="{{ site.baseurl }}/assets/img/modules/module3.jpg" class="tops_half_section_image"></div>
                  </div>
                </div>
              </div>
            </div>