<div class="tops_white_section tops_gray_section tops_half_section half_section_left">
              <div class="container tops_container">
                <div class="d-flex flex-row flex-wrap align-items-start">
                  <div class="tops_half_section_column_small">
                    <div class="tops_half_section_shinysquare"></div>
                    <div class="tops_half_section_imageoutter"><img src="{{ site.baseurl }}/assets/img/modules/module4.jpg" class="tops_half_section_image"></div>
                  </div>
                  <div class="d-flex flex-column flex-wrap justify-content-center tops_half_section_column_big">
                    <h2 class="mb-2">OS101 Module 4: Open Code</h2>
                    <div class="tops_divider div_smaller mb-3"><div class="div_inner"></div></div>
                    <p>This module focuses on the practice and application of open code as part of the open science workflow. It provides a 'how to' process that follows the code development lifecycle and "Use, Make, Share" framework. Some of the key topics discussed include: benefits and limitations of open code, how to discover and assess code, considerations and methods for programming following open principles, and finally when and how to share your code.</p>
                  </div>
                </div>
              </div>
            </div>