<div class="tops_white_section tops_half_section half_section_right">
    <div class="container tops_container">
      <div class="d-flex flex-row flex-wrap align-items-start">
        <div class="d-flex flex-column flex-wrap justify-content-center tops_half_section_column_big">
          <h2 class="mb-2">Standing On The Shoulders Of Giants</h2>
          <div class="tops_divider div_smaller mb-3"><div class="div_inner"></div></div>
          <p>TOPS is by no means the first or only initative enabling open science. Many scientists have been practicing open science to varying degrees for decades! TOPS is building upon all of the work that has been done so far and that has paved the way to make open science a reality on a large scale.</p>
          <div class="d-flex flex-row flex-wrap tops_doublebuttons">
            <a class="btn btn-primary" href="{{site.baseurl}}/{{site.enrollbutton}}" role="button">Enroll Now</a>
            <a class="btn btn-outline-primary" href="#" role="button">Contact Us</a>
          </div>
        </div>
        <div class="tops_half_section_column_small">
          <div class="tops_half_section_shinysquare"></div>
          <div class="tops_half_section_imageoutter"><img src="{{ site.baseurl }}/assets/img/standingimage.jpg" class="tops_half_section_image"></div>
        </div>
      </div>
    </div>
  </div>