<div class="tops_white_section tops_gray_section tops_events_section">
    <div class="container tops_container">
        <div class="row">
            <div class="col-12 tops_events_primary_content">
                <h2 class="text-center mb-2">Find TOPS at Events</h2>
                <div class="tops_divider div_larger justify-content-center mb-3"><div class="div_inner"></div></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
                <div class="d-flex flex-row flex-wrap tops_doublebuttons justify-content-center">
                    <a class="btn btn-primary" href="#" role="button">Enroll Now</a>
                    <a class="btn btn-outline-primary" href="#" role="button">Learn More</a>
                </div>
            </div>
        </div>
        <div class="row mt-5 mt-md-4">
            <div class="tops_events_tiles">
                <div class="tops_events_tile tops_events_tile_larger">
                    <a href="#">
                        <div class="tops_events_tile_image"><img src="assets/img/events/agu.jpg"></div>
                        <div class="tops_events_tile_overlay"></div>
                        <div class="tops_events_tile_context">
                            <div class="tops_events_tile_categories">
                                <span>BPS</span>
                                <span>Planetary</span>
                                <span>Helio</span>
                                <span>Earth</span>
                                <span>Astro</span>
                            </div>
                            <h3>American Geophysical Union (AGU) Fall</h3>
                            <div class="d-flex flex-row flex-wrap align-items-center tops_events_tile_meta">
                                <div class="tops_events_tile_metaitem">Dec 11 - 15, 2023</div>
                                <div class="tops_events_tile_metadivider"><i class="fa-solid fa-circle"></i></div>
                                <div class="tops_events_tile_metaitem">San Francisco</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tops_events_tile">
                    <a href="#">
                        <div class="tops_events_tile_image"><img src="assets/img/events/asgsr.jpg"></div>
                        <div class="tops_events_tile_overlay"></div>
                        <div class="tops_events_tile_context">
                            <div class="tops_events_tile_categories">
                                <span>BPS</span>
                                <span>Planetary</span>
                                <span>Helio</span>
                                <span>Earth</span>
                                <span>Astro</span>
                            </div>
                            <h3>American Geophysical Union (AGU) Fall</h3>
                            <div class="d-flex flex-row flex-wrap align-items-center tops_events_tile_meta">
                                <div class="tops_events_tile_metaitem">Dec 11 - 15, 2023</div>
                                <div class="tops_events_tile_metadivider"><i class="fa-solid fa-circle"></i></div>
                                <div class="tops_events_tile_metaitem">San Francisco</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tops_events_tile">
                        <a href="#">
                        <div class="tops_events_tile_image"><img src="assets/img/events/sacnas.jpg"></div>
                        <div class="tops_events_tile_overlay"></div>
                        <div class="tops_events_tile_context">
                            <div class="tops_events_tile_categories">
                                <span>BPS</span>
                                <span>Planetary</span>
                                <span>Helio</span>
                                <span>Earth</span>
                                <span>Astro</span>
                            </div>
                            <h3>American Geophysical Union (AGU) Fall</h3>
                            <div class="d-flex flex-row flex-wrap align-items-center tops_events_tile_meta">
                                <div class="tops_events_tile_metaitem">Dec 11 - 15, 2023</div>
                                <div class="tops_events_tile_metadivider"><i class="fa-solid fa-circle"></i></div>
                                <div class="tops_events_tile_metaitem">San Francisco</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tops_events_tile">
                        <a href="#">
                        <div class="tops_events_tile_image"><img src="assets/img/events/sacnas.jpg"></div>
                        <div class="tops_events_tile_overlay"></div>
                        <div class="tops_events_tile_context">
                            <div class="tops_events_tile_categories">
                                <span>BPS</span>
                                <span>Planetary</span>
                                <span>Helio</span>
                                <span>Earth</span>
                                <span>Astro</span>
                            </div>
                            <h3>American Geophysical Union (AGU) Fall</h3>
                            <div class="d-flex flex-row flex-wrap align-items-center tops_events_tile_meta">
                                <div class="tops_events_tile_metaitem">Dec 11 - 15, 2023</div>
                                <div class="tops_events_tile_metadivider"><i class="fa-solid fa-circle"></i></div>
                                <div class="tops_events_tile_metaitem">San Francisco</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tops_events_tile">
                        <a href="#">
                        <div class="tops_events_tile_image"><img src="assets/img/events/sacnas.jpg"></div>
                        <div class="tops_events_tile_overlay"></div>
                        <div class="tops_events_tile_context">
                            <div class="tops_events_tile_categories">
                                <span>BPS</span>
                                <span>Planetary</span>
                                <span>Helio</span>
                                <span>Earth</span>
                                <span>Astro</span>
                            </div>
                            <h3>American Geophysical Union (AGU) Fall</h3>
                            <div class="d-flex flex-row flex-wrap align-items-center tops_events_tile_meta">
                                <div class="tops_events_tile_metaitem">Dec 11 - 15, 2023</div>
                                <div class="tops_events_tile_metadivider"><i class="fa-solid fa-circle"></i></div>
                                <div class="tops_events_tile_metaitem">San Francisco</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tops_events_tile">
                        <a href="#">
                        <div class="tops_events_tile_image"><img src="assets/img/events/sacnas.jpg"></div>
                        <div class="tops_events_tile_overlay"></div>
                        <div class="tops_events_tile_context">
                            <div class="tops_events_tile_categories">
                                <span>BPS</span>
                                <span>Planetary</span>
                                <span>Helio</span>
                                <span>Earth</span>
                                <span>Astro</span>
                            </div>
                            <h3>American Geophysical Union (AGU) Fall</h3>
                            <div class="d-flex flex-row flex-wrap align-items-center tops_events_tile_meta">
                                <div class="tops_events_tile_metaitem">Dec 11 - 15, 2023</div>
                                <div class="tops_events_tile_metadivider"><i class="fa-solid fa-circle"></i></div>
                                <div class="tops_events_tile_metaitem">San Francisco</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tops_events_tile">
                        <a href="#">
                        <div class="tops_events_tile_image"><img src="assets/img/events/sacnas.jpg"></div>
                        <div class="tops_events_tile_overlay"></div>
                        <div class="tops_events_tile_context">
                            <div class="tops_events_tile_categories">
                                <span>BPS</span>
                                <span>Planetary</span>
                                <span>Helio</span>
                                <span>Earth</span>
                                <span>Astro</span>
                            </div>
                            <h3>American Geophysical Union (AGU) Fall</h3>
                            <div class="d-flex flex-row flex-wrap align-items-center tops_events_tile_meta">
                                <div class="tops_events_tile_metaitem">Dec 11 - 15, 2023</div>
                                <div class="tops_events_tile_metadivider"><i class="fa-solid fa-circle"></i></div>
                                <div class="tops_events_tile_metaitem">San Francisco</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tops_events_tile">
                        <a href="#">
                        <div class="tops_events_tile_image"><img src="assets/img/events/sacnas.jpg"></div>
                        <div class="tops_events_tile_overlay"></div>
                        <div class="tops_events_tile_context">
                            <div class="tops_events_tile_categories">
                                <span>BPS</span>
                                <span>Planetary</span>
                                <span>Helio</span>
                                <span>Earth</span>
                                <span>Astro</span>
                            </div>
                            <h3>American Geophysical Union (AGU) Fall</h3>
                            <div class="d-flex flex-row flex-wrap align-items-center tops_events_tile_meta">
                                <div class="tops_events_tile_metaitem">Dec 11 - 15, 2023</div>
                                <div class="tops_events_tile_metadivider"><i class="fa-solid fa-circle"></i></div>
                                <div class="tops_events_tile_metaitem">San Francisco</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tops_events_tile">
                        <a href="#">
                        <div class="tops_events_tile_image"><img src="assets/img/events/sacnas.jpg"></div>
                        <div class="tops_events_tile_overlay"></div>
                        <div class="tops_events_tile_context">
                            <div class="tops_events_tile_categories">
                                <span>BPS</span>
                                <span>Planetary</span>
                                <span>Helio</span>
                                <span>Earth</span>
                                <span>Astro</span>
                            </div>
                            <h3>American Geophysical Union (AGU) Fall</h3>
                            <div class="d-flex flex-row flex-wrap align-items-center tops_events_tile_meta">
                                <div class="tops_events_tile_metaitem">Dec 11 - 15, 2023</div>
                                <div class="tops_events_tile_metadivider"><i class="fa-solid fa-circle"></i></div>
                                <div class="tops_events_tile_metaitem">San Francisco</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>