<div class="tops_white_section tops_gray_section tops_events_section">
    <div class="container tops_container">
        <div class="row">
            <div class="col-12 tops_events_primary_content primary_content_md">
                <h2 class="text-center mb-2">Find TOPS at Events</h2>
                <div class="tops_divider div_larger justify-content-center mb-3"><div class="div_inner"></div></div>
                <p>We invite you to visit us at various events where TOPS will be prominently featured, including  scientific meetings and gatherings of historically underrepresented communities. Our presence at these events is a unique opportunity to engage with us in a dynamic learning environment and connect with fellow open science enthusiasts. In addition to attending insightful sessions, engaging townhalls, and exploring our informative booth, we are proud to offer workshops specifically designed to teach our Open Science 101 curriculum centered around essential skills for open science practitioners.</p>
                <div class="d-flex flex-row flex-wrap tops_doublebuttons justify-content-center">
                    <a class="btn btn-primary" href="#" role="button">View All</a>
                    <a class="btn btn-outline-primary" href="#" role="button">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="row mt-5 mt-md-4">
            <div class="tops_events_tiles">
                <div class="tops_events_tile tops_events_tile_larger">
                    <a href="#">
                        <div class="tops_events_tile_image"><img src="assets/img/events/agu.jpg"></div>
                        <div class="tops_events_tile_overlay"></div>
                        <div class="tops_events_tile_context">
                            <div class="tops_events_tile_categories">
                                <span>BPS</span>
                                <span>Planetary</span>
                                <span>Helio</span>
                                <span>Earth</span>
                                <span>Astro</span>
                            </div>
                            <h3>American Geophysical Union (AGU) Fall</h3>
                            <div class="d-flex flex-row flex-wrap align-items-center tops_events_tile_meta">
                                <div class="tops_events_tile_metaitem">Dec 11 - 15, 2023</div>
                                <div class="tops_events_tile_metadivider"><i class="fa-solid fa-circle"></i></div>
                                <div class="tops_events_tile_metaitem">San Francisco</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tops_events_tile">
                    <a href="#">
                        <div class="tops_events_tile_image"><img src="assets/img/events/asgsr.jpg"></div>
                        <div class="tops_events_tile_overlay"></div>
                        <div class="tops_events_tile_context">
                            <div class="tops_events_tile_categories">
                                <span>BPS</span>
                                <span>Planetary</span>
                                <span>Helio</span>
                                <span>Earth</span>
                                <span>Astro</span>
                            </div>
                            <h3>American Geophysical Union (AGU) Fall</h3>
                            <div class="d-flex flex-row flex-wrap align-items-center tops_events_tile_meta">
                                <div class="tops_events_tile_metaitem">Dec 11 - 15, 2023</div>
                                <div class="tops_events_tile_metadivider"><i class="fa-solid fa-circle"></i></div>
                                <div class="tops_events_tile_metaitem">San Francisco</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tops_events_tile">
                        <a href="#">
                        <div class="tops_events_tile_image"><img src="assets/img/events/sacnas.jpg"></div>
                        <div class="tops_events_tile_overlay"></div>
                        <div class="tops_events_tile_context">
                            <div class="tops_events_tile_categories">
                                <span>BPS</span>
                                <span>Planetary</span>
                                <span>Helio</span>
                                <span>Earth</span>
                                <span>Astro</span>
                            </div>
                            <h3>American Geophysical Union (AGU) Fall</h3>
                            <div class="d-flex flex-row flex-wrap align-items-center tops_events_tile_meta">
                                <div class="tops_events_tile_metaitem">Dec 11 - 15, 2023</div>
                                <div class="tops_events_tile_metadivider"><i class="fa-solid fa-circle"></i></div>
                                <div class="tops_events_tile_metaitem">San Francisco</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tops_events_tile">
                        <a href="#">
                        <div class="tops_events_tile_image"><img src="assets/img/events/sacnas.jpg"></div>
                        <div class="tops_events_tile_overlay"></div>
                        <div class="tops_events_tile_context">
                            <div class="tops_events_tile_categories">
                                <span>BPS</span>
                                <span>Planetary</span>
                                <span>Helio</span>
                                <span>Earth</span>
                                <span>Astro</span>
                            </div>
                            <h3>American Geophysical Union (AGU) Fall</h3>
                            <div class="d-flex flex-row flex-wrap align-items-center tops_events_tile_meta">
                                <div class="tops_events_tile_metaitem">Dec 11 - 15, 2023</div>
                                <div class="tops_events_tile_metadivider"><i class="fa-solid fa-circle"></i></div>
                                <div class="tops_events_tile_metaitem">San Francisco</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tops_events_tile">
                        <a href="#">
                        <div class="tops_events_tile_image"><img src="assets/img/events/sacnas.jpg"></div>
                        <div class="tops_events_tile_overlay"></div>
                        <div class="tops_events_tile_context">
                            <div class="tops_events_tile_categories">
                                <span>BPS</span>
                                <span>Planetary</span>
                                <span>Helio</span>
                                <span>Earth</span>
                                <span>Astro</span>
                            </div>
                            <h3>American Geophysical Union (AGU) Fall</h3>
                            <div class="d-flex flex-row flex-wrap align-items-center tops_events_tile_meta">
                                <div class="tops_events_tile_metaitem">Dec 11 - 15, 2023</div>
                                <div class="tops_events_tile_metadivider"><i class="fa-solid fa-circle"></i></div>
                                <div class="tops_events_tile_metaitem">San Francisco</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tops_events_tile">
                        <a href="#">
                        <div class="tops_events_tile_image"><img src="assets/img/events/sacnas.jpg"></div>
                        <div class="tops_events_tile_overlay"></div>
                        <div class="tops_events_tile_context">
                            <div class="tops_events_tile_categories">
                                <span>BPS</span>
                                <span>Planetary</span>
                                <span>Helio</span>
                                <span>Earth</span>
                                <span>Astro</span>
                            </div>
                            <h3>American Geophysical Union (AGU) Fall</h3>
                            <div class="d-flex flex-row flex-wrap align-items-center tops_events_tile_meta">
                                <div class="tops_events_tile_metaitem">Dec 11 - 15, 2023</div>
                                <div class="tops_events_tile_metadivider"><i class="fa-solid fa-circle"></i></div>
                                <div class="tops_events_tile_metaitem">San Francisco</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tops_events_tile">
                        <a href="#">
                        <div class="tops_events_tile_image"><img src="assets/img/events/sacnas.jpg"></div>
                        <div class="tops_events_tile_overlay"></div>
                        <div class="tops_events_tile_context">
                            <div class="tops_events_tile_categories">
                                <span>BPS</span>
                                <span>Planetary</span>
                                <span>Helio</span>
                                <span>Earth</span>
                                <span>Astro</span>
                            </div>
                            <h3>American Geophysical Union (AGU) Fall</h3>
                            <div class="d-flex flex-row flex-wrap align-items-center tops_events_tile_meta">
                                <div class="tops_events_tile_metaitem">Dec 11 - 15, 2023</div>
                                <div class="tops_events_tile_metadivider"><i class="fa-solid fa-circle"></i></div>
                                <div class="tops_events_tile_metaitem">San Francisco</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tops_events_tile">
                        <a href="#">
                        <div class="tops_events_tile_image"><img src="assets/img/events/sacnas.jpg"></div>
                        <div class="tops_events_tile_overlay"></div>
                        <div class="tops_events_tile_context">
                            <div class="tops_events_tile_categories">
                                <span>BPS</span>
                                <span>Planetary</span>
                                <span>Helio</span>
                                <span>Earth</span>
                                <span>Astro</span>
                            </div>
                            <h3>American Geophysical Union (AGU) Fall</h3>
                            <div class="d-flex flex-row flex-wrap align-items-center tops_events_tile_meta">
                                <div class="tops_events_tile_metaitem">Dec 11 - 15, 2023</div>
                                <div class="tops_events_tile_metadivider"><i class="fa-solid fa-circle"></i></div>
                                <div class="tops_events_tile_metaitem">San Francisco</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tops_events_tile">
                        <a href="#">
                        <div class="tops_events_tile_image"><img src="assets/img/events/sacnas.jpg"></div>
                        <div class="tops_events_tile_overlay"></div>
                        <div class="tops_events_tile_context">
                            <div class="tops_events_tile_categories">
                                <span>BPS</span>
                                <span>Planetary</span>
                                <span>Helio</span>
                                <span>Earth</span>
                                <span>Astro</span>
                            </div>
                            <h3>American Geophysical Union (AGU) Fall</h3>
                            <div class="d-flex flex-row flex-wrap align-items-center tops_events_tile_meta">
                                <div class="tops_events_tile_metaitem">Dec 11 - 15, 2023</div>
                                <div class="tops_events_tile_metadivider"><i class="fa-solid fa-circle"></i></div>
                                <div class="tops_events_tile_metaitem">San Francisco</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>