<div class="tops_white_section tops_gray_section tops_posts_section">
    <div class="container tops_container">
      <div class="row">
          <div class="col-12 tops_posts_primary_content">
              <h2 class="text-center mb-2">Recent Posts</h2>
              <div class="tops_divider div_larger justify-content-center mb-3"><div class="div_inner"></div></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
              <div class="d-flex flex-row flex-wrap tops_doublebuttons justify-content-center">
                  <a class="btn btn-primary" href="#" role="button">Enroll Now</a>
                  <a class="btn btn-outline-primary" href="#" role="button">Learn More</a>
              </div>
          </div>
      </div>
	  <div class="row mt-5 mt-md-4">
		 {% for post in site.posts limit:4 %}
			<div class="col-12 col-md-6 col-lg-3 p-0 pb-4 p-md-3 tops_posts_post">
              <a href="{{ post.url | absolute_url }}" class="tops_posts_post_image"><img src="{{ site.baseurl }}/{{ post.image }}"></a>
              <div class="tops_posts_post_content">
                  <h3 class="mb-2">{{ post.title }}</h3>
                  <p class="mb-3">{{ post.content | markdownify | strip_html | truncatewords:27 }}</p>
                  <a class="tops_posts_post_readmore" href="{{ post.url | absolute_url }}">Read More<i class="fa-solid fa-circle-arrow-right"></i></a>
              </div>
              <div class="tops_posts_post_meta d-flex flex-row flex-wrap align-items-center">
                  <div class="tops_posts_post_metaitem"><i class="fa-solid fa-calendar-days"></i>{{ post.date | date_to_string }}</div>
                  <div class="tops_posts_post_metadivider"><i class="fa-solid fa-circle"></i></div>
                  <div class="tops_posts_post_metaitem"><i class="fa-solid fa-circle-user"></i>TOPS</div>
              </div>
          </div>
		 {% endfor %}
	  </div>
      <div class="row mt-5 mt-md-4">
          <div class="col-12 col-md-6 col-lg-3 p-0 pb-4 p-md-3 tops_posts_post">
              <a href="#" class="tops_posts_post_image"><img src="assets/img/posts/post_1.jpg"></a>
              <div class="tops_posts_post_content">
                  <h3 class="mb-2">Lorem Ipsum Dolor Sit</h3>
                  <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                  <a class="tops_posts_post_readmore" href="#">Read More<i class="fa-solid fa-circle-arrow-right"></i></a>
              </div>
              <div class="tops_posts_post_meta d-flex flex-row flex-wrap align-items-center">
                  <div class="tops_posts_post_metaitem"><i class="fa-solid fa-calendar-days"></i>January 1, 2023</div>
                  <div class="tops_posts_post_metadivider"><i class="fa-solid fa-circle"></i></div>
                  <div class="tops_posts_post_metaitem"><i class="fa-solid fa-circle-user"></i>TOPS</div>
              </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 p-0 pb-4 p-md-3 tops_posts_post">
              <a href="#" class="tops_posts_post_image"><img src="assets/img/posts/post_2.png"></a>
              <div class="tops_posts_post_content">
                  <h3 class="mb-2">Lorem Ipsum Dolor Sit</h3>
                  <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                  <a class="tops_posts_post_readmore" href="#">Read More<i class="fa-solid fa-circle-arrow-right"></i></a>
              </div>
              <div class="tops_posts_post_meta d-flex flex-row flex-wrap align-items-center">
                  <div class="tops_posts_post_metaitem"><i class="fa-solid fa-calendar-days"></i>January 1, 2023</div>
                  <div class="tops_posts_post_metadivider"><i class="fa-solid fa-circle"></i></div>
                  <div class="tops_posts_post_metaitem"><i class="fa-solid fa-circle-user"></i>TOPS</div>
              </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 p-0 pb-4 p-md-3 tops_posts_post">
              <a href="#" class="tops_posts_post_image"><img src="assets/img/posts/post_3.png"></a>
              <div class="tops_posts_post_content">
                  <h3 class="mb-2">Lorem Ipsum Dolor Sit</h3>
                  <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                  <a class="tops_posts_post_readmore" href="#">Read More<i class="fa-solid fa-circle-arrow-right"></i></a>
              </div>
              <div class="tops_posts_post_meta d-flex flex-row flex-wrap align-items-center">
                  <div class="tops_posts_post_metaitem"><i class="fa-solid fa-calendar-days"></i>January 1, 2023</div>
                  <div class="tops_posts_post_metadivider"><i class="fa-solid fa-circle"></i></div>
                  <div class="tops_posts_post_metaitem"><i class="fa-solid fa-circle-user"></i>TOPS</div>
              </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 p-0 pb-4 p-md-3 tops_posts_post">
              <a href="#" class="tops_posts_post_image"><img src="assets/img/posts/post_4.png"></a>
              <div class="tops_posts_post_content">
                  <h3 class="mb-2">Lorem Ipsum Dolor Sit</h3>
                  <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                  <a class="tops_posts_post_readmore" href="#">Read More<i class="fa-solid fa-circle-arrow-right"></i></a>
              </div>
              <div class="tops_posts_post_meta d-flex flex-row flex-wrap align-items-center">
                  <div class="tops_posts_post_metaitem"><i class="fa-solid fa-calendar-days"></i>January 1, 2023</div>
                  <div class="tops_posts_post_metadivider"><i class="fa-solid fa-circle"></i></div>
                  <div class="tops_posts_post_metaitem"><i class="fa-solid fa-circle-user"></i>TOPS</div>
              </div>
          </div>
      </div>
    </div>
  </div>